.App {
  text-align: center;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.tagline {
  font-size: 1.5em;
  font-weight: 100;
}

.intro {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2.75em;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.5em;
}

.icons-social {
  align-items: center;
  margin-top: 1.5em;
}

.icons-social a {
  margin: 0.75em;
  font-size: 3em;
}

@media (max-width: 576px) {
  .icons-social a {
    margin: 0.75em;
    font-size: 2em;
  }
}

/* Gradient background */

.gradient {
  width: 100wh;
  height: 100vh;
  color: #fff;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.gradient .App-main {
  color: #fff;
}

.gradient .icons-social a {
  color: #fff;
}

.gradient .icons-social a svg path {
  fill: #fff;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}