.App {
  text-align: center;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.tagline {
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}

.intro {
  font-family: "Reem Kufi", sans-serif;
  font-size: 2.75em;
  font-weight: 600;
  margin: 0;
  text-align: center;
  margin-bottom: 0.5em;
}

.icons-social {
  align-items: center;
  margin-top: 1.5em;
  z-index: 100;
  text-align: center;
}

.icons-social a {
  margin: 0.75em;
  font-size: 2em;
  position: relative;
  white-space: nowrap;
}

.icons-social .icon-title {
  visibility: hidden;
  font-size: 14px;
  position: absolute;
  top: 4em;
  margin-left: -1.5em;
  transform: translate(-50%, 0%);
}

a:hover {
  text-decoration: none;
}

.icons-social a:hover > .icon-title {
  visibility: visible;
}

@media (max-width: 576px) {
  .icons-social a {
    margin: 0.75em;
    font-size: 2em;
    white-space: normal;
    line-height: 2em;
  }
}

/* Gradient background */

.gradient {
  width: 100wh;
  height: 100vh;
  color: #fff;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.gradient .App-main {
  color: #fff;
}

.gradient .icons-social a {
  color: #fff;
}

.gradient .icons-social a svg path {
  fill: #fff;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
